src/**
test/**
work/**
.vscode/**
.github/**
.gitignore
.prettier*
eslint.config.mjs
tsconfig.json
.nvmrc
out/test/**
**/*.map
*.vsix
out/**
scripts/**
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml

.ruff_cache/**
**/__pycache__/**
**/*.pyc
